<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timefeel.rxmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:resizeableActivity="true"
        android:name=".app.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDesign">
        <meta-data
            android:name="com.timefeel.rxmovies.utils.MyGlideModule"
            android:value="GlideModule"
            />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.SelectActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>